:root {
    --danger-color: #e76f51;
    --danger-invert-color: #ffffff;
    --danger-hover-color: #c9302c;
    --font-family: 'Inter', sans-serif;
    --letter-spacing: -0.03em;
    --font-size-mini: 12px;
    --font-line-mini: 17px;
    --font-mini: var(--font-size-mini) / var(--font-line-mini)
        var(--font-family);
    --font-size-s: 14px;
    --font-line-s: 21px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family);
    --font-size-l: 20px;
    --font-line-l: 28px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family);
    --font-size-xl: 24px;
    --font-line-xl: 32px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family);
    --font-size-xxl: 32px;
    --font-line-xxl: 41px;
    --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family);

    // Primary colors
    --primary-color: #272727;
    --primary-variant-color: #6b46fe;
    --primary-variant-bg-color: rgba(107, 70, 254, 0.1);
    --primary-variant-bg-hover-color: rgba(107, 70, 254, 0.2);
    --primary-variant-hover-color: #6443e9;
    --secondary-color: #969696;
    --tertiary-color: #3c3c49;
    --quatinary-color: #6a6a81;
    --quinary-color: #bcbcc8;
    --light-grey-color: #f8f8f8;
    --bg-color: #f3f3f7;
    --marked-row-bg-color: #eeeef1;
    --red-color: #e12121;
    --primary-invert-color: #ffffff;
    --primaty-variant-color-hover: #522de5;
    --stroke-color: #e8e8e8;
    // Aditional colors
    --primaty-variant-bg-marked-color: rgba(107, 70, 254, 0.1);
    // Errors
    --error-color-dark: #c50000;
    --error-color-bg: rgba(238, 0, 0, 0.1);
    --error-color-border: #e00;

    // Aditional parameters
    --box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07);
    --default-border-radius: 8px;
    --large-border-radius: 5em;
    --transition: 0.2s linear;
    --sidebar-width: 300px;
    --sidebar-width-screwed: 5rem;
    --modal-backdrop: rgba(10, 9, 11, 0.3);
    --modal-z-index: 4;
    --modal-backdrop-z-index: 3;
    --table-z-index: 2;
    --modal-padding: 1rem 2rem 1.5rem 2rem;

    // Role colors
    --superadmin-color: #00008c;
    --admin-color: #800020;
    --user-color: #5ac585;

    // Status colors

    // Odcienie zielonego
    --status-green-lightest: #e0f2e9;
    --status-green-lighter: #a8d5ba;
    --status-green-light: #6cb89c;
    --status-green-medium: #4a8e6f;
    --status-green-dark: #016626;

    --text-color-lightest-green: #004d40;
    --text-color-lighter-green: #004d40;
    --text-color-light-green: #ffffff;
    --text-color-medium-green: #ffffff;
    --text-color-dark-green: #e0f2e9;

    --status-purple-pastel: #d9c6e0;
    --text-color-purple-pastel: #3f0d75;

    --status-yellow-orange-medium: #ffb74d;
    --text-color-yellow-orange-medium: #4a2c00;

    --status-red-medium: #ff6f6f;
    --text-color-red-medium: #4d0000;

    --status-brown-red-medium: #a87d6f;
    --text-color-brown-red-medium: #4b2e1b;

    --status-green-bg-color: #e1faea;
    --status-orange-color: #f25219;
    --status-orange-bg-color: #ffebe4;
    --status-red-color: #e12121;
    --status-red-bg-color: #ffe0e0;
    --status-blue-color: #1751d0;
    --status-blue-bg-color: #dee9ff;
    --status-grey-color: #4f4d55;
    --status-grey-bg-color: #ebe5ff;
    --status-yellow-color: #ffe6af;
    --status-gray-bg-color: #d2d2d2;
    --status-light-grey-bg-color: #f2f2f2;
}

.dp__theme_light {
    --dp-primary-color: var(--primary-variant-color) !important;
}

.dp__input {
    &::placeholder {
        color: var(--secondary-color);
        opacity: 1 !important;
        font-weight: 500;
    }
}
