.Popover {
    position: relative;
}

.content {
    position: absolute;
    width: max-content;
    background-color: var(--primary-invert-color);
    border-radius: var(--default-border-radius);
    padding: 0.5rem;
    box-shadow: var(--box-shadow);
    z-index: 5;
    border: 1px solid var(--stroke-color);
    top: 2.5rem;
}

.button {
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
