.MunicipalitiesModal {
}

.footer {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-invert-color);
    z-index: var(--modal-z-index);
    border-top: 1px solid var(--stroke-color);
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 2rem;
}

.wrapper {
    padding: var(--modal-padding);
}

.button {
    width: fit-content;
}
