.Modal {
    background-color: var(--primary-invert-color);
    border-radius: var(--default-border-radius);
    min-width: 450px;
    max-width: 450px;
    max-height: 60%;
    overflow-y: auto;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--modal-z-index);
}

.header {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-invert-color);
    z-index: var(--modal-z-index);
    border-bottom: 1px solid var(--stroke-color);
    padding: 1.5rem 2rem;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--modal-backdrop);
    z-index: var(--modal-backdrop-z-index);
}

.title {
    font: var(--font-xl);
    font-weight: 700;
}

.description {
    font: var(--font-m);
    margin-top: 0.5rem;
    color: var(--quatinary-color);
}

.inner {
    padding-top: 0.25rem;
    padding-bottom: 0;
}
