.Flex {
  display: flex;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.alignCenter {
  align-items: center;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.gap2 {
  gap: 0.25rem;
}

.gap4 {
  gap: 0.5rem;
}

.gap6 {
  gap: 0.75rem;
}

.gap8 {
  gap: 1rem;
}

.gap16 {
  gap: 1.5rem;
}

.gap32 {
  gap: 2rem;
}

.max {
  width: 100%;
}
