.Avatar {
    height: 21px;
    width: 21px;
    background-color: var(--primary-variant-color);
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-invert-color);
    font-weight: 500;
}

.superadmin {
    background-color: var(--superadmin-color);
}

.admin {
    background-color: var(--admin-color);
}

.user {
    background-color: var(--user-color);
}
