.Sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--primary-invert-color);
    padding: 1.6rem 1.1rem;
    box-shadow: var(--box-shadow);
    transition: width 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Sidebar.screwed {
    width: 5rem;
}

.userIcon {
    font: var(--font-s);
    height: 1.8rem;
    width: 1.8rem;
    border-radius: var(--default-border-radius);
    background-color: var(--primary-variant-color);
    font-weight: 600;
    color: var(--primary-invert-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.name {
    width: max-content;
}
.sidebarItem {
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    border-radius: var(--default-border-radius);
    transition: background var(--transition);

    &:hover {
        background-color: var(--primary-variant-bg-color);

        svg {
            path {
                fill: var(--primary-variant-color) !important;
            }
        }

        p {
            color: var(--primary-variant-color) !important;
        }
    }
}
.activeItem {
    background-color: var(--primary-variant-bg-color);

    svg {
        path {
            fill: var(--primary-variant-color) !important;
        }
    }

    p {
        color: var(--primary-variant-color) !important;
    }
}

.logoutButton {
    display: flex;
    cursor: pointer;
    width: 5rem;
    &:hover {
        color: var(--primary-variant-hover-color);
    }
}

.sidebarItem.screwed {
    width: 2.5rem;
    height: 2.5rem;
}

.screwButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    transition: background var(--transition);
    border-radius: var(--default-border-radius);
    padding: 0.35rem 0.75rem;

    &:hover {
        background-color: var(--primary-variant-bg-color);

        svg {
            path {
                fill: var(--primary-variant-color) !important;
            }
        }

        p {
            color: var(--primary-variant-color) !important;
        }
    }
}

.screwButton.screwed {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
