.campaignTables {
    width: calc(100vw - var(--sidebar-width) - 2rem);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.currency {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}

.tableheader {
    margin-bottom: 1rem;
}

.CampaignTable {
    width: max-content;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.flexRender {
    display: inline-flex;
}

.headerTitle {
    margin-bottom: 1rem;
}

.headerTitle,
.bodyValue {
    padding: 0.4rem 1.5rem 0.6rem 0.5rem;
}

.bodyValue {
    font: var(--font-s);
    white-space: nowrap;
}

.header {
    border-bottom: 1px solid var(--stroke-color);
}

.row {
    border-bottom: 1px solid var(--stroke-color);
}

.marked {
    background-color: var(--primaty-variant-bg-marked-color);
}

.noData {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boldText {
    font-weight: bold;
}

.tableSpacing {
    height: 2rem;
}

/* Kolory tła */

.greyBackground {
    background-color: #c4bd97;
}
.yellowBackground {
    background-color: #ffff00;
}
.greenBackground {
    background-color: #00b050;
}
.darkGreyBackground {
    background-color: #d3d3d3;
}
.redBackground {
    background-color: #ff0000;
    color: white;
}
.limeBackground {
    background-color: #92d050;
}
.whiteBackground {
    background-color: #ffffff;
}
.noBackground {
    background-color: transparent !important;
}
.blueBackground {
    background-color: #8db3e2;
}
.beigeBackground {
    background-color: #c4bd97;
}
