.CompaniesPagination {
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.arrowLeft {
    transform: rotate(-90deg);
}

.arrowRight {
    transform: rotate(90deg);
}
.pageLabel {
    margin-right: 8px;
    font: var(--font-s);
    font-weight: 400;
    color: var(--quatinary-color);
    margin-left: 1rem;
}
