.companiesSettings {
    margin: 0.5rem;
}
.container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leadSettingSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
