.Button {
    height: 2.2rem;
    width: 2.2rem;
    background-color: rgb(233, 44, 44, 0.1);
    border-radius: var(--default-border-radius);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgb(233, 44, 44, 0.15);
    }
}
