.SortHeader {
    cursor: pointer;
    font: var(--font-s);
    font-weight: 500;
    width: fit-content;
    color: var(--primary-variant-color);
}

.disabled {
    cursor: unset;
}

.ascending {
    transform: rotate(180deg);
}
