.Icon {
}

.primary {
  path {
    fill: var(--primary-color) !important;
  }
}

.primary-variant {
  path {
    fill: var(--primary-variant-color) !important;
  }
}

.secondary {
  path {
    fill: var(--secondary-color) !important;
  }
}

.tertiary {
  path {
    fill: var(--tertiary-color) !important;
  }
}

.quatinary {
  path {
    fill: var(--quatinary-color) !important;
  }
}

.quinary {
  path {
    fill: var(--quinary-color) !important;
  }
}
