.AddContactHistory {
    min-height: 17rem;
    padding-top: 1rem;
}

.footer {
    margin-top: 2rem;
    position: sticky;
    padding-bottom: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-invert-color);
    z-index: var(--modal-z-index);
    display: flex;
    justify-content: flex-end;
}
