.checkboxInput {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

.checkboxInput:checked {
    background-color: #6b46fe;
    border-color: #6b46fee2;
}

.checkboxInput:checked::after {
    content: '✔';
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: checkmark-pop 0.3s ease;
}

@keyframes checkmark-pop {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

//////////////////////////////////////////////////////////////////////////////////////

.tableWrapper {
    width: calc(100vw - var(--sidebar-width) - 2rem);
    overflow-x: scroll;
    overflow-y: scroll;
    height: 83vh;
}

.tableWrapper.screwed {
    width: calc(100vw - var(--sidebar-width-screwed) - 2rem);
}

.CompaniesTable {
    width: max-content;
    border-collapse: collapse;
}

.headerTitle {
    text-align: left;
    color: var(--quatinary-color);
    font: var(--font-s);
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: var(--table-z-index);
}

.headerTitle,
.bodyValue {
    padding: 0.6rem 0.25rem 0.6rem 0rem;
}

.bodyValue {
    font: var(--font-s);
    overflow-wrap: break-word;
}
.contactPersons {
    white-space: pre-wrap;
    font: var(--font-s);
    line-height: 1.5;
}

.header {
    border-bottom: 1px solid var(--stroke-color);
}

.row {
    border-bottom: 1px solid var(--stroke-color);
}

.marked {
    background-color: var(--primary-variant-bg-marked-color);
    transition: background-color 0.3s ease;
}
.contactPersons {
    white-space: normal;
    font: var(--font-s);
    line-height: 1.5;
}

.noData {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.narrowColumn {
    max-width: 7vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contactPersons {
    white-space: pre-wrap;
    font: var(--font-s);
}
// backgrounds colors for the table

.kitrateWrapper {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    border-radius: 8px;

    min-width: 50px;
    text-align: center;
}

.bgColor0To99 {
    background-color: #b2d8b8;
}

.bgColor100To499 {
    background-color: #c8e6c9;
}

.bgColor500To999 {
    background-color: #e8f5e9;
}

.bgColor1000To1499 {
    background-color: #fff9c4;
}

.bgColor1500To1999 {
    background-color: #ffecb3;
}

.bgColor2000To2499 {
    background-color: #fff176;
}

.bgColor2500To2999 {
    background-color: #ffd54f;
}

.bgColor3000To3499 {
    background-color: #ffb74d;
    color: white;
}

.bgColor3500To3999 {
    background-color: #ff8a65;
    color: white;
}

.bgColor4000To4499 {
    background-color: #ff6f6f;
    color: white;
}

.bgColor4500To4999 {
    background-color: #ff5252;
    color: white;
}

.bgColor5000Plus {
    background-color: #ff1744;
    color: white;
}
